<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPMC </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/homepage.css" />
    <link rel="stylesheet" href="../css/productdetail.css" />
    <link href="../css/searchresults.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<body>
    <div class="container col-md-10 col-md-offset-1">
        <div class="top">
            <div class="row">
                <div class="col-md-7">
                    <p class="text-left">
                        <span class="glyphicon glyphicon-earphone" style="margin-left: 10px;"></span> 1-800-533-UPMC
                    </p>
                </div>
                <div class="col-md-5">
                    <p class="text-right" , style="color: white; margin-right:8px;">
                        <strong>Hello, <i class="fa fa-user" aria-hidden="true"></i> John </strong>
                        <a href="index.html" , style="margin-left: 5px; margin-right: 10px; color: white;"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out </a>
                        <a href="cart.html" , style="color: white;"><span class="glyphicon glyphicon-shopping-cart" style = "margin-right: 5px;"></span>Cart <span class="badge">0</span></a>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <!-- <img src="../img/upmc.PNG" class="img-responsive" alt="" width="347" height="68" style=""> -->
            <div class="col-md-5 ">
                <a href="index.html"><img src="../img/upmc.PNG" class="img-responsive"></a>
            </div>
            <div class="col-md-2" style="margin-top:15px;">
                <span style="margin-left:6px;"><strong>FREE SHIPPING</strong></span>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">View details</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <p class="modal-title">Free shipping on all orders</p>
                            </div>
                            <div class="modal-body">
                                <p>UPMC offers free ground shipping on all orders.Free shipping applies only to standard ground shipping within the forty-eight (48) contiguous United States. Attention Alaska & Hawaii customers: We currently do not accept online orders to Alaska & Hawaii as special rates do apply. Please contact UPMC at 800-533-UPMC.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 vcenter" style="margin-top:15px;">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search by Keyword or symptoms">
                    <span class="input-group-addon">
                            <!--<a href="errorPage.html" class="btn btn-info" role="button"><span class="glyphicon glyphicon-search"></span></a>-->
                    <a href="searchresults.html">
                        <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                    </a>
                    </span>
                </div>
            </div>
        </div>
        <!--Carousel-->
        <div>
            <br />
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="errorPage.html">WebSiteName</a> -->
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <!-- Personal Care -->
                        <li class="dropdown">
                            <a href="personalCare.html" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personal Care<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="errorPage.html">Ear Care</a></li>
                                <li><a href="errorPage.html">Eye Care</a></li>
                                <li><a href="errorPage.html">Foot Care</a></li>
                                <li><a href="errorPage.html">Lip Care</a></li>
                                <li><a href="errorPage.html">Oral Care</a></li>
                            </ul>
                        </li>
                        <!-- Medicine -->
                        <li class="dropdown">
                            <a href="medicineTreatment.html" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicine & Treatment<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="errorPage.html">Cough, Cold & Flu</a></li>
                                <li><a href="searchresults2.html">Pain Relief & Management</a></li>
                                <li><a href="errorPage.html">Allergy & Asthma</a></li>
                                <li><a href="errorPage.html">Digestive Health & Nausea</a></li>
                                <li><a href="errorPage.html">Diabetes Management</a></li>
                                <li><a href="errorPage.html">Smoking Cessation</a></li>
                                <li><a href="errorPage.html">Skin Aliments</a></li>
                                <li><a href="searchresults.html">First Aid</a></li>
                                <li><a href="errorPage.html">Sleep & Snoring Aid</a></li>
                                <li><a href="errorPage.html">Braces & Support</a></li>
                                <li><a href="errorPage.html">Incontinence</a></li>
                            </ul>
                        </li>
                        <!-- Supplement -->
                        <li class="dropdown">
                            <a href="vitaminsSupplements.html" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vitamins & Supplement<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="errorPage.html">Multivitamins</a></li>
                                <li><a href="errorPage.html">Letter Vitamins A-K</a></li>
                                <li><a href="errorPage.html">Herbs</a></li>
                                <li><a href="errorPage.html">Calcium & Minerals</a></li>
                                <li><a href="errorPage.html">Fish Oil, Omegas & EFAs</a></li>
                                <li><a href="errorPage.html">Probiotics</a></li>
                                <li><a href="errorPage.html">Bone & Joint Health</a></li>
                                <li><a href="errorPage.html">Energy & Alertness</a></li>
                                <li><a href="errorPage.html">Ear & Eye Health</a></li>
                                <li><a href="errorPage.html">Heart Health</a></li>
                                <li><a href="errorPage.html">Immune Support</a></li>
                                <li><a href="errorPage.html">Memory Support</a></li>
                                <li><a href="errorPage.html">Sleep Aid</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="dietNutrition.html" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diet & Nutrition<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="errorPage.html">Weight Management</a></li>
                                <li><a href="errorPage.html">Sports Nutrition</a></li>
                                <li><a href="errorPage.html">Bars & Drinks</a></li>
                                <li><a href="errorPage.html">Sports Medicine</a></li>
                                <li><a href="errorPage.html">Balanced Nutrition</a></li>
                                <li><a href="errorPage.html">Health & Fitness Monitors</a></li>
                                <li><a href="errorPage.html">Protein</a></li>
                                <li><a href="errorPage.html">Supplements & Diet Aids</a></li>
                            </ul>
                        </li>
                        <!-- Baby & Mom -->
                        <li class="dropdown">
                            <a href="babyMom.html" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baby & Mom<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="errorPage.html">Baby Food & Formula</a></li>
                                <li><a href="errorPage.html">Feeding Essentials</a></li>
                                <li><a href="errorPage.html">Diapers & Wipes</a></li>
                                <li><a href="errorPage.html">Bath, Skin & Hair</a></li>
                                <li><a href="errorPage.html">Childproofing & Safety</a></li>
                                <li><a href="errorPage.html">Children’s Health Care</a></li>
                                <li><a href="errorPage.html">Children’s Vitamins & Supplements</a></li>
                                <li><a href="errorPage.html">Baby Gear</a></li>
                                <li><a href="errorPage.html">Pregnancy & Fertility</a></li>
                                <li><a href="errorPage.html">Natural & Organic</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-9">
                <ol class="breadcrumb" style="background-color:white;">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="searchresults.html">"Band-Aid" Search Results</a></li>
                    <li class="active">Band-Aid Flexible Fabric Bandages All One Size</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <a href="#">
                    <div class="panel ">
                        <div class="panel-body"><img src="http://pics.drugstore.com/prodimg/149705/220.jpg" width="300" height="300" alt="Image"></div>
                        <br>
                        <br>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <h3>Band-Aid Flexible Fabric Bandages All One Size (1 Inch)</h3>
                <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-gold"></i> 5.0 </div>
                <hr>
                <h2>$ 8.79</h2>
                <div class="product-stock"><p style = "color:green">In Stock</p></div>
                <hr>
                <div class="col-xs-4">
                    <div class="input-group number-spinner">
                        <span class="input-group-btn data-dwn">
                            <button class="btn btn-default btn-info" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                        <input type="text" class="form-control text-center" value="1" min="0" max="40">
                        <span class="input-group-btn data-up">
                            <button class="btn btn-default btn-info" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                        </span>
                    </div>
                </div>
                <div class="btn-group cart">
                    <a href="cart.html">
                        <button type="button" class="btn btn-success" id="addtocart">
                            Add to cart
                        </button>
                    </a>
                </div>
                <br>
                <div class="col-xs-10">
                    <h5> Free shipping! Arrives in 1-3 business days! </h5>
                </div>
                <br>
                <br>
                <div class="col-xs-3">
                    <div class="btn-group wishlist">
                        <a href="errorPage.html">
                            <button type="button" class="btn btn-primary">
                                Save to wishlist
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-pills nav_tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
                    <li><a href="#service-two" data-toggle="tab">WARNINGS</a></li>
                    <li><a href="#service-three" data-toggle="tab" name="service-three">REVIEWS</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <section class="container product-info">
                            <h4>Quick view</h4>
                            <li>Protection that moves with you</li>
                            <li>Unique adhesive to stay in place</li>
                            <li>Non-stick pad for gentle removal</li>
                            <br>
                            <div class="col-md-10">
                                <p>Protection that moves with you. Extra flexibility - stretchable, comfortable fabric that moves with you to fit better. Non-stick pad - absorbent pad won't stick to wound for gentle removal. Greater durability - unique adhesive and durable fabric help bandage stay in place.
                                </p>
                                <p>1 in x 3 in</p>
                                <p>Sterile</p>
                                <p>Made in China</p>
                                <p>©Johnson and Johnson</p>
                                <h4>Take a Closer Look</h4>
                                <p>BAND-AID® Brand Flexible Fabric Adhesive Bandages are designed for comfort and flexibility. They're made with MEMORY-WEAVE® fabric that moves with you, so the bandage stays in place throughout the day to cover and protect minor scrapes and cuts. Made to fit over most wounds, the full-width QUILTVENT® pad has air channels that wick away blood to help keep wounds clean and provide superior breathability. The nonstick pad makes for gentle removal. This package contains 100 sterile bandages in three sizes.
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <section class="container">
                            <p>Warnings: for medical emergencies seek professional help.<br><br><br>
                            </p>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <div class="row-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                  <br>

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title" itemprop="name">This is best BAND-AID for us</h3>
                                        </div>
                                        <!--/panel-heading-->
                                        <div class="panel-body" itemprop="reviewBody">
                                            <p>Always I'm trying to find this BAND-AID. Because it's stay in place and take off without messy. My son deported character ones a while but now, he also likes this band-aid. I'm working at a machine shop and we supplied same BAND-AID long time. My coworker is grad for this. Yes. I discovered from my company. This is best for us!</p>
                                            <small>
                                                <span itemprop="name">-- K. Edward</span>
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                <meta itemprop="datePublished" content="01-01-2016">07-07-2016
                                                <span class="pull-right">
                                                    <meta itemprop="worstRating" content="1">
                                                    <span itemprop="ratingValue">5</span> /
                                                    <span itemprop="bestRating"> stars </span>
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </small>
                                        </div>
                                        <!--/panel-body-->
                                        <div class="panel-footer clearfix">
                                            <div class="col-sm-1"><i class="fa fa-facebook-official fa-2x"></i></div>
                                            <div class="col-sm-1"><i class="fa fa-twitter-square fa-2x"></i></div>
                                            <div class="col-sm-1"><i class="fa fa-google-plus fa-2x"></i></div>
                                        </div>
                                        <!--/panel-footer-->
                                    </div>
                                    <!--/panel-->
                                </div>
                                <!--/col-sm-6-->
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <span itemscope itemtype="http://schema.org/Review">
                                                                        <h3 class="panel-title" itemprop="name">Band-aids for hard working hands</h3>
                                                                        </div><!--/panel-heading-->
                                                                        <div class="panel-body" itemprop="reviewBody">
                                                                            <p>I work with my hands all day long. When I need a band-aid I prefer your flexible fabric band-aid.
                                                                                They last all day long and stay on even after washing my hands several times a day.
                                                                            I call them band-aids for hard working hands. Thanks for such a good product.</p>
                                                                            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                                                                                <small>
                                                                                <span itemprop="name">-- J. Reviewer</span>
                                            </span>
                                            <!--/author schema -->
                                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                            <meta itemprop="datePublished" content="01-01-2016">01-01-2016
                                            <span class="pull-right">
                                                                                    <span class="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                                                                        <meta itemprop="worstRating" content="1">
                                                                                        <span itemprop="ratingValue">5</span> /
                                            <span itemprop="bestRating"> stars </span>
                                            </span>
                                            <!--/reviewRating-->
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </small>
                                        </div>
                                        <!--/panel-body-->
                                        <div class="panel-footer clearfix">
                                            <div class="col-sm-1"><i class="fa fa-facebook-official fa-2x"></i></div>
                                            <div class="col-sm-1"><i class="fa fa-twitter-square fa-2x"></i></div>
                                            <div class="col-sm-1"><i class="fa fa-google-plus fa-2x"></i></div>
                                        </div>
                                        <!--/panel-footer-->
                                    </div>
                                    <!--/panel-->
                                </div>
                                <!--/col-sm-6-->
                            </div>
                            <!--/row (1) -->

                        </div>
                    </div>


                </div>
                <br>
                <br>

                <h3> Customers also buy</h3>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <a href="errorPage.html" class="thumbnail"><img src="http://pics.drugstore.com/prodimg/39632/155.jpg" alt="Image" style="max-width:100%;"></a>
                        <a id="title-secondary-" title="Band-Aid Flexible Fabric Adhesive Bandages Extra Large" class="ng-binding" href="errorPage.html" product-position="3" product-offer-type="BOGO">Band-Aid Flexible Fabric Adhesive Bandages Extra Large <span class="sr-only ng-binding">For upc 38137005685</span></a>
                        <dd ng-if="BogoBoughtItem.productInfo.priceInfo.salePrice ==null" class="wag-head-text2 wag-text-black wag-product-price-text ng-scope ng-binding">
                            <!-- ngIf: BogoBoughtItem.productInfo.priceInfo.salePriceLabel!=null -->$4.19</dd>
                        <dd class="wag-text-red wag-body-text1 wag-product-clearance-text wag-product-buyone-text ng-binding">Buy 1, Get 1 50% OFF</dd>
                    </div>
                    <div class="col-md-3">
                        <a href="errorPage.html" class="thumbnail"><img src="http://pics.drugstore.com/prodimg/13276/155.jpg" alt="Image" style="max-width:100%;"></a>
                        <a id="title-secondary-" title="Neosporin + First Aid Antibiotic/ Pain Relieving Ointment" class="ng-binding" href="errorPage.html" product-position="2" product-offer-type="BOGO">Neosporin + First Aid Antibiotic/ Pain Relieving Ointment <span class="sr-only ng-binding">For upc 30081074688</span></a>
                        <dd ng-if="BogoBoughtItem.productInfo.priceInfo.salePrice ==null" class="wag-head-text2 wag-text-black wag-product-price-text ng-scope ng-binding">
                            <!-- ngIf: BogoBoughtItem.productInfo.priceInfo.salePriceLabel!=null -->$4.19</dd>
                        <dd class="wag-text-red wag-body-text1 wag-product-clearance-text wag-product-buyone-text ng-binding">Buy 1, Get 1 50% OFF</dd>
                    </div>
                    <div class="col-md-3">
                        <a href="errorPage.html" class="thumbnail"><img src="http://pics.drugstore.com/prodimg/79974/155.jpg" alt="Image" style="max-width:100%;"></a>
                        <a id="title-secondary-" title="Band-Aid Tough-Strips Bandages Extra Large" class="ng-binding" href="errorPage.html" product-position="8" product-offer-type="BOGO">Band-Aid Tough-Strips Bandages Extra Large <span class="sr-only ng-binding">For upc 38137004424</span></a>
                        <dd ng-if="BogoBoughtItem.productInfo.priceInfo.salePrice ==null" class="wag-head-text2 wag-text-black wag-product-price-text ng-scope ng-binding">
                            <!-- ngIf: BogoBoughtItem.productInfo.priceInfo.salePriceLabel!=null -->$3.99</dd>
                        <dd class="wag-text-red wag-body-text1 wag-product-clearance-text wag-product-buyone-text ng-binding">Buy 1, Get 1 50% OFF</dd>
                    </div>
                    <div class="col-md-3">
                        <a href="errorPage.html" class="thumbnail"><img src="http://pics.drugstore.com/prodimg/532585/155.jpg" alt="Image" style="max-width:100%;"></a>
                        <a id="title-secondary-" title="Band-Aid First Aid Gauze Pads Large (4 Inch x 4 Inch)" class="ng-binding" href="errorPage.html" product-position="7" product-offer-type="BOGO">Band-Aid First Aid Gauze Pads Large (4 Inch x 4 Inch) <span class="sr-only ng-binding">For upc 38137116128</span></a>
                        <dd ng-if="BogoBoughtItem.productInfo.priceInfo.salePrice ==null" class="wag-head-text2 wag-text-black wag-product-price-text ng-scope ng-binding">
                            <!-- ngIf: BogoBoughtItem.productInfo.priceInfo.salePriceLabel!=null -->$8.99</dd>
                        <dd class="wag-text-red wag-body-text1 wag-product-clearance-text wag-product-buyone-text ng-binding">Buy 1, Get 1 50% OFF</dd>
                    </div>
                </div>
                <br>
                <br>
                <br>


                <footer class="footer-bs">
                  <hr />
                    <div class="row">
                        <div class="col-md-3 footer-brand animated fadeInLeft">
                            <img src="../img/UPMC.png" style="width: 200px;"></img>
                            <p>UPMC online pharmacy strives to provide best service and lowest price to community </p>
                            <p>© 2016 High Five Consulting, All rights reserved</p>
                        </div>
                        <div class="col-md-4 footer-nav animated fadeInUp">
                            <h4>Menu</h4>
                            <div class="col-md-6">
                                <ul class="pages">
                                    <li><a href="errorpage.html">Locations</a></li>
                                    <li><a href="errorpage.html">Services</a></li>
                                    <li><a href="errorpage.html">Return</a></li>
                                    <li><a href="errorpage.html">Shipping</a></li>
                                    <li><a href="errorpage.html">Advice</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list">
                                    <li><a href="errorpage.html">About Us</a></li>
                                    <li><a href="errorpage.html">Contacts</a></li>
                                    <li><a href="errorpage.html">Terms & Condition</a></li>
                                    <li><a href="errorpage.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 footer-social animated fadeInDown">
                            <h4>Follow Us</h4>
                            <ul>
                                <li><a href="errorpage.html">Facebook</a></li>
                                <li><a href="errorpage.html">Twitter</a></li>
                                <li><a href="errorpage.html">Instagram</a></li>
                                <li><a href="errorpage.html">RSS</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-ns animated fadeInRight">
                            <h4>Subscribe</h4>
                            <p>Enter email to subscribe from us</p>
                            <p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <a href="errorpage.html">
                                            <button class="btn btn-default" type="button">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                    </button>
                                    </a>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </p>
                        </div>
                    </div>
                </footer>
                <section style="text-align:center; margin:10px auto;">
                    <p>Designed by High Five Consulting</p>
                </section>
            </div>
        </div>
    </div>
</body>

</html>
